.pomo-logo {
    width: 40px;
    height: 30px;
}

.setting-logo {
    width: 22px;
    height: 15px;
    position: relative;
    top: 14px;
    left: 7px;
}

.login-logo {
    width: 22px;
    height: 15px;
    position: relative;
    top: 14px;
    left: 8px;
}